<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <a href="/api/image-uploader">API image-uploader</a>

    <form action="facundo/api/new-post" method="POST">
      <p>title</p>
      <input type="text" name="title" />
      <p>body</p>
      <input type="text" name="body" />
      <p>author</p>
      <input type="text" name="author" />
      <button type="submit">Send</button>
    </form>
  </body>
</html>
